/* Structure */
 
table {

  width: 150%;
    
  
}
.table{
  align-items: auto;
  margin-right: auto;
  margin-left: auto;  
}
  
  .mat-form-field {
    font-size: 14px;
    width: 150%;
  }
  
  .create-new {
    width: 150%;
  }

  .edit {
    width: auto;
  }

  
